* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -webkit-moz-appearance: textfield;
}


input:focus {
    outline: none;
}

.main {
    padding: 215px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-info {
    margin-right: 730px;
}

.holder-item_item {
    border-bottom: 2px solid rgb(154, 154, 154);
    padding: 15px 0px;
    width: 100%;
    margin-top: 30px;
}

.holder-item_item:first-child {
    margin-top: 0px;
}

.holder-item_item:last-child {
    border-bottom: none;
}

.item-title {
    color: rgb(86, 91, 95);
    font-size: 24px;
    margin-bottom: 15px;
}

.item-info {
    font-size: 24px;
    font-weight: bold;
}

.item-info.red {
    color: red;
}
.main-card {
    position: relative;
    top: -178px;
    left: -341px;
}

.card-face {
    width: fit-content;
    padding: 20px 10px;
    background-color: rgb(164, 202, 211);
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    -webkit-box-shadow: 24px 14px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 24px 14px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 24px 14px 8px 0px rgba(34, 60, 80, 0.2);
}

.form-text {
    font-size: 18px;
    margin-top: 25px;
    color: rgb(0, 19, 34);
}

.form-text:first-child {
    margin-top: 0px;
}

.card-face input,
.card-back_form input {
    width: 400px;
    background-color: rgb(214, 232, 236);
    border: 1px solid rgb(84, 103, 109);
    border-radius: 5px;
    font-size: 24px;
    padding: 5px 10px;
    margin-top: 5px;
}

.form_month {
    font-size: 24px;
    margin-top: 25px;
}

.form_month input {
    max-width: 40px;
}

.card-back {
    width: 442px;
    height: 195px;
    border-radius: 10px;
    position: absolute;
    background: rgb(129, 166, 174);
    background: linear-gradient(180deg, rgba(129, 166, 174, 1) 25%, rgba(121, 148, 155, 1) 71%);
    top: 28px;
    left: 172px;
    padding: 50px 0px;
    -webkit-box-shadow: 24px 14px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 24px 14px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 24px 14px 8px 0px rgba(34, 60, 80, 0.2);
}

.card-back_stripe {
    background-color: rgb(60, 93, 100);
    width: 100%;
    height: 50px;
}

.card-back_form {
    text-align: right;
    margin-right: 50px;
    position: absolute;
    bottom: 81px;
    right: -21px;
}

.card-back_form input {
    max-width: 55px;
    background-color: rgb(177, 201, 205);
}
